<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for question in questions %}
        <li>
            <strong>{{ question.question }}</strong><br>
            <em>Category: {{ question.category }}, Difficulty: {{ question.difficulty }}</em><br>
            Choices:
            <ul>
                {% for choice in question.incorrect_answers + [question.correct_answer] %}
                <li>{{ choice }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

